---
import Layout from "@/layout/Layout.astro"
import { Button } from "@/components/ui/button"
---

<Layout>
    <section class="flex flex-col items-center gap-y-4">
        <h1 class="text-8xl font-bold">404</h1>
        <p class="text-muted-foreground">Uh oh. That page doesn't exist.</p>
        <a href="/">
            <Button variant={"outline"} className="cursor-pointer">Go back to index page</Button>
        </a>
    </section>
</Layout>
