---

---

<section class="w-full grid grid-cols-1 md:grid-cols-[30%_70%] gap-y-6 animate-fade-up animate-once animate-ease-in-out">
    <h1 class="text-xl font-bold">About</h1>
    <p class="text-muted-foreground">
        Hi! I’m a university student who’s passionate about web development.
        I enjoy building websites and learning both frontend and backend technologies.
        I love turning ideas into real web applications and continuously improving my skills through hands-on projects.
    </p>
</section>