---
const year = new Date().getDate()
---

<footer class="w-full flex justify-center items-center border-t p-4">
    <p class="text-muted-foreground">© 2025 gawstxn. All rights reserved.</p>
</footer>