---
import { Github, MapPin, BriefcaseBusiness } from "@lucide/astro"
import { Image } from "astro:assets"
import { Badge } from "./ui/badge";
---

    <section class="w-full flex flex-col justify-center items-center gap-y-6 animate-fade-up animate-once animate-ease-in-out">
        <Image
            src="/avatar.jpg" 
            alt="" 
            height={1000} 
            width={1000}
            class="w-32 h-32 object-cover rounded-full" 
        />
        <div class="flex flex-col items-center justify-center gap-y-3">
            <h1 class="text-3xl font-semibold">Naruenat Khamwaree</h1>
            <Badge variant={"outline"} className="relative text-lg rounded-full px-4 py-2 gap-2">
                <div class="w-2 h-2 rounded-full bg-green-500">
                    <div class="absolute w-2 h-2 rounded-full bg-green-300 animate-ping"></div>
                </div>
                <span class="text-sm">Available</span>
            </Badge>
            <div class="w-full flex flex-wrap justify-center items-center gap-4 text-sm">
                <p class="flex items-center gap-2">
                    <BriefcaseBusiness size={18} class="text-muted-foreground"/>
                    Full-Stack Developer
                </p>
                <p class="flex items-center gap-2">
                    <MapPin size={18} class="text-muted-foreground"/>
                    <span>Chachoengsao, Thailand</span>
                </p>
                <a href="https://github.com/gawstxn" class="flex items-center gap-2 hover:text-muted-foreground duration-150">
                    <Github size={18} class="text-muted-foreground"/>
                    gawstxn
                </a>
            </div>
        </div>
    </section>