---
import { skills } from "@/content/data"
import { Badge } from "./ui/badge"
---

<section class="w-full grid grid-cols-1 md:grid-cols-[30%_70%] gap-y-6 animate-fade-up animate-once animate-ease-in-out">
    <h1 class="text-xl font-bold">Skills</h1>
    <div class="flex flex-col justify-center gap-y-4">
        <div class="flex flex-wrap items-center gap-2">
            <h1 class="font-semibold">Languages</h1>
            {skills.Languages.map(item => (
                <Badge variant={"secondary"} className="rounded-full hover:bg-accent-foreground/20 cursor-pointer">{item}</Badge>
            ))}
        </div>
        <div class="flex flex-wrap items-center gap-2">
            <h1 class="font-semibold">Frontend</h1>
            {skills.Frontend.map(item => (
                <Badge variant={"secondary"} className="rounded-full hover:bg-accent-foreground/20 cursor-pointer">{item}</Badge>
            ))}
        </div>
        <div class="flex flex-wrap items-center gap-2">
            <h1 class="font-semibold">Backend</h1>
            {skills.Backend.map(item => (
                <Badge variant={"secondary"} className="rounded-full hover:bg-accent-foreground/20 cursor-pointer">{item}</Badge>
            ))}
        </div>
        <div class="flex flex-wrap items-center gap-2">
            <h1 class="font-semibold">Others</h1>
            {skills.Others.map(item => (
                <Badge variant={"secondary"} className="rounded-full hover:bg-accent-foreground/20 cursor-pointer">{item}</Badge>
            ))}
        </div>
    </div>
</section>